<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ipsam?</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quasi
        fugit iure? Omnis harum delectus modi mollitia consectetur nobis
        eligendi!
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quasi
        fugit iure? Omnis harum delectus modi mollitia consectetur nobis
        eligendi!
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
